<?xml version="1.0"?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="HLBBWS2.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>      
    </sectionGroup>
    <section name="dev" type="HLBBWS2.KeyValueConfigurationSection"/>
    <section name="test" type="HLBBWS2.KeyValueConfigurationSection"/>
    <section name="prod" type="HLBBWS2.KeyValueConfigurationSection"/>
  </configSections>

  <appSettings>
    <!-- possible values: dev, test, prod-->
    <add key="CurrentEnvironment" value="test"/>
  </appSettings>
  
    <dev>
      <elements>
        <!-- Fireeye setting-->
        <add key="savefilepath" value="C:\inetpub\wwwroot\HLBB\HLBBWS3\files\"/>
        
        
        <add key="fe_rest_url" value="https://192.168.50.11:443"/>
        <add key="fe_rest_loginrequest_endpoint" value="wsapis/v2.0.0/auth/login"/>
        <add key="fe_authorixationkeyvalue" value="Basic YXBpOnBhc3N3b3Jk"/>
        <add key="fe_rest_submiturlrequest_endpoint" value="wsapis/v2.0.0/submissions/url"/>
        <add key="fe_rest_submiturlrequest_analysistype" value="2"/>
        <add key="fe_rest_submiturlrequest_application" value="2"/>
        <add key="fe_rest_submiturlrequest_force" value="true"/>
        <add key="fe_rest_submiturlrequest_prefetch" value="1"/>
        <add key="fe_rest_submiturlrequest_priority" value="0"/>
        <add key="fe_rest_submiturlrequest_os" value="win7-sp1m"/>
        <add key="fe_rest_submiturlrequest_timeout" value="500"/>
        <add key="fe_rest_submiturlgetresult_endpoint" value="wsapis/v2.0.0/submissions/status/"/>

        <add key="fe_rest_logoutrequest_endpoint" value="wsapis/v2.0.0/auth/logout"/>
        
        <!-- Database Settings for AV-->
        <add key="MG_SQL_Auth_Mode2" value="0"/>
        <!-- Note: 0= Sql Authentication, 1= Windows Authentication -->        
        <add key="MG_SQL_Server2" value="172.20.1.56,1466"/>
        <!-- Note: Server Name or IP address , with port -->
        <add key="MG_SQL_Database2" value="HLBB_MG_VS"/>
        <!-- Note: Database Name -->
        <add key="MG_SQL_ID2" value="sa"/>
        <!-- Note: Use when SQL_Auth_Mode = 0 (Sql Authentication) -->
        <add key="MG_SQL_Pwd2" value="sa"/>
        <!-- Note: Use when SQL_Auth_Mode = 0 (Sql Authentication) and in Encrypted text -->
      </elements>
    </dev>
  
    <test>
      <elements>
        <add key="savefilepath" value="C:\inetpub\wwwroot\HLBB\HLBBWS3\files\"/>
        
        <add key="fe_rest_url" value="https://192.168.50.11:443"/>
        <add key="fe_rest_loginrequest_endpoint" value="wsapis/v2.0.0/auth/login"/>
        <add key="fe_authorixationkeyvalue" value="Basic YXBpOnBhc3N3b3Jk"/>
        <add key="fe_rest_submiturlrequest_endpoint" value="wsapis/v2.0.0/submissions/url"/>
        <add key="fe_rest_submiturlrequest_analysistype" value="2"/>
        <add key="fe_rest_submiturlrequest_application" value="2"/>
        <add key="fe_rest_submiturlrequest_force" value="true"/>
        <add key="fe_rest_submiturlrequest_prefetch" value="1"/>
        <add key="fe_rest_submiturlrequest_priority" value="0"/>
        <add key="fe_rest_submiturlrequest_os" value="win7-sp1m"/>
        <add key="fe_rest_submiturlrequest_timeout" value="500"/>
        <add key="fe_rest_submiturlgetresult_endpoint" value="wsapis/v2.0.0/submissions/status/"/>

        <add key="fe_rest_logoutrequest_endpoint" value="wsapis/v2.0.0/auth/logout"/>
        
        <!-- Database Settings for AV-->
        <add key="MG_SQL_Auth_Mode2" value="0"/>
        <!-- Note: 0= Sql Authentication, 1= Windows Authentication -->
        <add key="MG_SQL_Server2" value="172.20.1.56,1466"/>
        <!-- Note: Server Name or IP address , with port -->
        <add key="MG_SQL_Database2" value="HLBB_MG_VS"/>
        <!-- Note: Database Name -->
        <add key="MG_SQL_ID2" value="sa"/>
        <!-- Note: Use when SQL_Auth_Mode = 0 (Sql Authentication) -->
        <add key="MG_SQL_Pwd2" value="sa"/>
        <!-- Note: Use when SQL_Auth_Mode = 0 (Sql Authentication) and in Encrypted text -->
      </elements>      
    </test>
  
    <prod>
      <elements>
        <add key="savefilepath" value="C:\inetpub\wwwroot\HLBB\HLBBWS3\files\"/>
        
        <add key="fe_rest_url" value="https://192.168.50.11:443"/>
        <add key="fe_rest_loginrequest_endpoint" value="wsapis/v2.0.0/auth/login"/>
        <add key="fe_authorixationkeyvalue" value="Basic YXBpOnBhc3N3b3Jk"/>
        <add key="fe_rest_submiturlrequest_endpoint" value="wsapis/v2.0.0/submissions/url"/>
        <add key="fe_rest_submiturlrequest_analysistype" value="2"/>
        <add key="fe_rest_submiturlrequest_application" value="2"/>
        <add key="fe_rest_submiturlrequest_force" value="true"/>
        <add key="fe_rest_submiturlrequest_prefetch" value="1"/>
        <add key="fe_rest_submiturlrequest_priority" value="0"/>
        <add key="fe_rest_submiturlrequest_os" value="win7-sp1m"/>
        <add key="fe_rest_submiturlrequest_timeout" value="500"/>
        <add key="fe_rest_submiturlgetresult_endpoint" value="wsapis/v2.0.0/submissions/status/"/>

        <add key="fe_rest_logoutrequest_endpoint" value="wsapis/v2.0.0/auth/logout"/>
        
        <!-- Database Settings for AV-->
        <add key="MG_SQL_Auth_Mode2" value="0"/>
        <!-- Note: 0= Sql Authentication, 1= Windows Authentication -->
        <add key="MG_SQL_Server2" value="172.20.1.56,1466"/>
        <!-- Note: Server Name or IP address , with port -->
        <add key="MG_SQL_Database2" value="HLBB_MG_VS"/>
        <!-- Note: Database Name -->
        <add key="MG_SQL_ID2" value="sa"/>
        <!-- Note: Use when SQL_Auth_Mode = 0 (Sql Authentication) -->
        <add key="MG_SQL_Pwd2" value="sa"/>
        <!-- Note: Use when SQL_Auth_Mode = 0 (Sql Authentication) and in Encrypted text -->
      </elements>    
    </prod>  

  <!--
    For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.6.1" />
      </system.Web>
  -->
  <system.web>
    <compilation targetFramework="4.6.1" debug="true"/>
    <pages controlRenderingCompatibilityVersion="4.0"/>
  </system.web>
</configuration>